<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <title>Test template</title>
  </head>
  <body>
    {{ range .Hotels }}
      <h1>
        Hotel Name:
      </h1>
      <b>{{.Name}}</b>
    {{ end }}
  </body>
</html>
