<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>New Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
  </head>
  <body>
    <form action="/books" method="POST">
      <h4>
        New Book
      </h4>
      <!-- <label>ID</label> -->
      <!-- <input name='id'/> -->
      <!-- <br></br> -->
      <label>Name</label>
      <input name='name' />
      <br></br>
      <input type="submit" value="Create" />
    </form>
  </body>
</html>
